.navigation {
  border-top: 5px solid #000;
  background-color: #ff0000;
}
/* 
. = class
# = id
*/
.logo {
  width: 80px;
  margin-right: 80px;
  margin-left: 20px;
}
.nav-link {
  color: #fff;
  display: inline-block;
  padding: 20px 10px;
  vertical-align: top;
  text-decoration: none;
}
.current {
  background-color: #000;
}

.navigation-alt {
  border-top: 5px solid #000;
  background-color: #ff0000;
  text-align: center;
}
.logo-alt {
  width: 80px;
  margin: 0 80px;
}